{% extends 'layout.html.twig' %}
{% set active = 'homepage' %}

{% block content %}
    <h2>{{ 'Welcome'|trans }}</h2>
    {% if is_granted('ROLE_USER') %}
        {{ 'Hello'|trans }} "{{ app.security.token.username }}".<br />
        <a href="{{ path('logout') }}">{{ 'Logout'|trans }}</a>
    {% else %}
        You're not logged. Please <a href="{{ path('login') }}">{{ 'connect'|trans }}</a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        require(['{{ app.request.basepath }}/assets/js/require.config.js'], function(){
            require(['app/index.main']);
        });
    </script>
{% endblock %}
