{% extends 'layout.html.twig' %}
{% set active = 'account' %}

{% block content %}

    <h2>{{ 'Login'|trans }}</h2>

    {% if error %}
        <div class="alert alert-danger">
            {{ error|trans }}
        </div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post" novalidate {{ form_enctype(form) }} class="form-vertical">
        {{ form_widget(form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'Send'|trans }}</button>
        </div>
    </form>

{% endblock %}
